<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <div>
                <ul class="nav navbar-nav">
                    <li role="presentation"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                    <li role="presentation"><a routerLink="/blogs" routerLinkActive="active">Blog</a></li>
                    <li role="presentation"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                    <!-- <li role="presentation"><a routerLink="/cv" routerLinkActive="active">CV</a></li> -->
                </ul>
            </div>
        </div>
        <ul *ngIf="authService.isAuthenticated()" class="nav navbar-nav navbar-right">
            <li><a (click)="logout()">Log Out</a></li>
        </ul>
        <ul *ngIf="!authService.isAuthenticated()" class="nav navbar-nav navbar-right">
            <li role="presentation"><a routerLink="/signin" routerLinkActive="active">Sign In</a></li>
        </ul>
    </div>
</nav>