<div class="container">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input 
                formControlName="title"
                id="title"
                class="form-control" 
                type="text" 
            >
        </div>
        <div class="form-group">
            <label for="body">Summary</label>
            <textarea 
                formControlName="summary"
                name="summary"
                id="summary" 
                cols="30" 
                rows="4" 
                class="form-control"
            ></textarea>
        </div>
        <div class="form-group">
            <label for="body">Content</label>
            <textarea 
                formControlName="body"
                [(ngModel)]="markdownPreview"
                name="body" 
                id="body" 
                cols="30" 
                rows="10" 
                class="form-control"
            ></textarea>
        </div>
        <div *ngIf="markdownPreview.length > 0" class="panel panel-default">
            <div class="panel-heading">Live Preview</div>
            <div class="panel-body">
                <markdown ngPreserveWhitespaces [data]="markdownPreview"></markdown>
            </div>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <div class="row">
                <div class="col-xs-12">
                    <input 
                        formControlName="tags"
                        type="text" 
                        class="form-control" 
                        id="tags"
                        style="margin-bottom: 10px"
                        placeholder="Pass tags as comma seperated values"
                    >
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>