<div class="container">
    <form>
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="tagFilter">Content</label>
            <textarea name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="title">Tags</label>
            <input type="text" class="form-control" id="title">
        </div>
        <button type="button" class="btn btn-primary">Save</button>
    </form>
</div>