<div class="container">
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input 
                formControlName="title"
                id="title"
                class="form-control" 
                type="text" 
            >
        </div>
        <div class="form-group">
            <label for="body">Content</label>
            <textarea 
                formControlName="body"
                name="body" 
                id="body" 
                cols="30" 
                rows="10" 
                class="form-control"
            ></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <input 
                formControlName="tags"
                type="text" 
                class="form-control" 
                id="tags"
            >
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>