<a href="{{ listItem.url }}">
    <div class="thumbnail card">
        <div class="img-event">
            <img class="group list-group-image img-fluid center-block" style="max-width: 100%; height: auto;" src="{{ listItem.imagePath }}" alt="" />
        </div>
        <div class="caption card-body">
            <h4 class="group card-title inner list-group-item-heading">
                {{ listItem.title }}</h4>
            <p class="group inner list-group-item-text">
                {{ listItem.summary }}</p>
        </div>
    </div>
</a>