<div class="col-xs-offset-2 col-xs-8">
    <div style="text-align:center" class="inverse-text">
        <h1 style="padding: 60px 0">
                As you can probably tell, the site is under construction...
        </h1>
        <h3>Below is a list of tasks that are incomplete:</h3>
        <br>
        <ul>
            <li>Collapse/toggle of header on small screen size</li>
            <li>Improved aesthetics of project cards</li>
            <li>Blog comments</li>
            <li>Reworking of tag input for blog/project forms</li>
        </ul>
        </div>
    </div>