<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-info" routerLink="/blogs/new">New Blog Entry</button>
        <button class="btn btn-success" type="button" (click)="onSaveBlogs()">Save blogs</button>
        <button class="btn btn-primary" type="button" (click)="onGetBlogs()">Get blogs</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="form-group col-xs-12 col-sm-8">
        <label for="tagFilter">Search by title</label>
        <input 
            [(ngModel)]="searchFilter"
            type="text"
            class="form-control" 
            id="search" 
            placeholder="Search"
        >
    </div>
    <div class="form-group col-xs-12 col-sm-4">
        <label for="tagFilter">Filter by tag</label>
        <select class="form-control" id="tagFilter" [(ngModel)]="tagFilter">
            <option value="*">All tags</option>
            <option value="Angular">Angular</option>
            <option value="LÖVE">LÖVE</option>
            <option value="Lua">Lua</option>
            <option value="TypeScript">TypeScript</option>
        </select>
    </div>
</div>

<hr>

<app-blog-list-item
    *ngFor="let blog of blogs | filter:searchFilter:'title' | filterArray:tagFilter:'tags'"
    [routerLink]="['/blogs', blog.id]" 
    [blog]="blog"
    style="cursor: pointer;"
></app-blog-list-item>