<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">{{ blog.title }}</div>
        <div class="panel-body">
            <markdown ngPreserveWhitespaces [data]="blog.body"></markdown>
        </div>
        <div class="panel-footer">{{ blog.createdAt | date: 'medium' }}</div>
    </div>
    <button type="button" class="btn btn-info" [routerLink]="['edit']">Edit blog entry</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete blog entry</button>
</div>