body {
    /* background-color: #3a4654; */
    background-color: #7289a5;
}

h1 {
    color: #eeeeee;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar {
    background-color: #536274;
}

a {
    color: #eee;
}

a:hover {
    color: #7289a5;
}

.active {
    background-color: #58c8f5;
    color: #eee;
}

a > i.fa-github {
    margin: 10px 0;
    color: #ddd;
}

a > i.fa-github:hover {
    margin: 10px 0;
    color: #fff;
}

p {
    margin: 20px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /* background-color: #3e98dc; */
    background-color: #536274;
    color: #ddd;
}

label {
    color: #eee;
}