body {
    /* background-color: #3a4654; */
    background-color: #7289a5;
}

.navbar {
    background-color: #536274;
}

a {
    color: #eee;
}

a:hover {
    color: #7289a5;
}

.active {
    background-color: #58c8f5;
    color: #eee;
}

a>i.fa-github {
    margin: 10px 0;
    color: #ddd;
}

a>i.fa-github:hover {
    margin: 10px 0;
    color: #fff;
}

p {
    margin: 20px 0;
}

label {
    color: #eee;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

.content {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 60px;
    /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #536274;
    color: #ddd;
}